/* Color Palette: https://coolors.co/palette/582f0e-7f4f24-936639-a68a64-b6ad90-c2c5aa-a4ac86-656d4a-414833-333d29 */
/* Mobile Navigation */
body {
    background-color: #333D29;
    box-sizing: border-box;
}

.col-xs-1 {
    grid-column: span 2;
}

.col-sm-2 {
    grid-column: span 2;
}

.col-md-6 {
    grid-column: span 6
}

.col-lg-12 {
    grid-column: span 12;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.main-nav {
    display: none;
}

#mobile-nav-items {
    display: none;
}

#mobile-nav-items .active {
    display: block;
}

#mobile-nav-items a {
    color: #C2C5AA
}

h1, h2 {
    text-align: center;
}

.featured {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 2px solid #C2C5AA;
    border-radius: 5px;
    width: 250px;
    margin: 0;
}

.card h3, .card p {
    text-align: center;
}

.card img {
    object-fit: contain;
    width: 100%;
}

footer {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 750px) {
    .mobile-nav {
        display: none;
    }

    .main-nav {
        display: block;
    }


}